
#container{
	margin:20px;
}
.btn{
	border-radius:3px;
	background-color:#fff;
	width:80px;
}

#queue{
	margin-top:5px;
}
.box{
	display:inline-block;
	width:auto;
	height:40px;
	background-color:#ff0000;
	color:#fff;
	font-size:20px;
	text-align:center;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
	margin-bottom:5px;
}
