*{
    margin:0px;
    padding:0px;
}


body{
    width:100%;
    height:100%;
}

#forward_icon{
    width:22px;
    height:35px;
    display:block;
    background-image:url("image/forward-icon.png");
    float:left;
    margin-left:32px;
    margin-right:32px;
    position:relative;
    top:45px;
    margin-top:-18px;
}

header{
    width:100%;
    height:89px;
    background-color:#333333;
    color:#fff;
    line-height:89px;
    font-size:27px;
    position:relative;
}

header p{
    float:left;
}

#submit{
    width:107px;
    height:65px;
    background-color:#666666;
    border-radius:5px;
    font-size:27px;
    color:#fff;
    border:0px ;
    position:absolute;
    top:12px;
    right:12px;
    line-height:65px;
    text-align:center;
}

#submit :active{
    background-color:#000;
}

main{
    height:631px; 
    width:100%;
    padding:5%;
}

.title{
    color:#999;
    font-size:27px;
    margin:32px 30px; 
}

select{
    height:110px;
    width:90%;
    border:2px solid #cccccc;
    border-radius:10px;
    font-size:27px;
    padding-left:10px;
    padding-right:10px;
}

#issue_desc{
    width:88%;
    height:340px;
    border:2px solid #cccccc;
    border-radius:10px;
    padding:10px;
    font-size:27px;
}

.add_img{
    width:210px;
    height:210px;
    margin-right:5%;
    border-radius:20px;
    border:2px solid #cccccc;
    display:block;
    float:left;
    background:url("image/add-icon.png") center no-repeat;
}


.added_img{
    width:210px;
    height:210px;
    margin-right:5%;
    border-radius:20px;
    border:2px solid #cccccc;
    float:left;
    display:none;
}
