*{
	margin:0px;
	padding:0px;
	font-family:"Microsoft Yahei",宋体,"Arial";
}

header{
	width:100%;
	height:70px;
	background-color:#333333;	
}

header a{
	position:relative;
	top:14px;
	left:20px;
	float:left;
}

header nav{
	height:70px;
	width:400px;
	float:right;
	margin-right:20px;	
}

header nav ul{
	height:70px;
	width:400px;
}

header nav ul li{
	width:100px;
	float:left;
	list-style:none;
	height:70px;	
}

header nav ul li a{
	text-decoration:none;
	color:#ffffff;
	position:relative;
	top:23px;	
}

.checked{
	color:#999999;
}

header nav ul li a:hover{
	color:#999999;
}

.backColor{
	background-color:#dedede;
	padding:20px;
}

article{
	margin-right:420px;
	margin-bottom:20px;
	border:1px solid #cccccc;
	padding:20px;
	box-shadow:2px 2px #808080;
	background-color:#ffffff;
}

article hgroup h2{
	margin:20px 0px;
}

article hgroup h3{
	margin:20px 0px;
	color:#999999;
}

article p{
	text-indent:2em;
	line-height:25px;
	font-size:15px;
}

.auther{
	color:#999999;
	margin:20px 0px;
	font-size:12px;
	text-indent:0em;
}

article ul{
	list-style:none;
	margin:20px;
}

.pic-list li{
	width:150px;
	height:150px;
	border:1px solid #cccccc;
	margin-bottom:20px;
	margin-right:20px;
	float:left;
}

.pic-list li span{
	font-size:12px;
	display:block;
	width:80px;
	margin:10px auto;
}

.pic-list li img{
	width:100px;
	height:100px;
	position:relative;
	left:25px;
}

.fordisplay{
	clear:both;
}

article ol{
	margin:20px;
}

.static-table{
	border-collapse:collapse;
	width:100%;
	font-size:12px;
}

.static-table th{
	background-color:#333333;
	color:#ffffff;
	text-align:left;
	padding:3px;
}

.static-table td{
	padding:3px;
}

.table-total{
	background-color:#cccccc;
	font-weight:bold;
}
aside{
	width:350px;
	border:1px solid #cccccc;
	box-shadow:2px 2px #808080;
	padding:20px;
	position:absolute;
	right:20px;
	top:90px;
	background-color:#ffffff;
}

aside h2{
	border-left:3px solid #999999;
	padding:10px;
	font-size:16px;
}

.prompt{
	width:40%;
	display:inline-block;
	text-align:right;
	margin:10px;
	font-size:12px;
}

.warning{
	color:#999999;
	position:relative;
	display:inline-block;
	left:45%;
	font-size:12px;
}

aside textarea{
	width:180px;
	height:100px;
}

.person-des{
	position:relative;
	top:-85px;
}

input::-webkit-input-placeholder{
	color: #000000;
	font-size:12px;
}

textarea::-webkit-input-placeholder{
	color: #000000;
	font-size:15px;
	font-weight:bold;
}

.submit-button{
	height:40px;
	width:97%;
	background-color:#3355d0;
	border-radius:10px;
	color:white;
	font-weight:bold;
}

footer{
	width:100%;
	height:70px;
	background-color:#000000;
	display:table;
}

footer p{
	color:#ffffff;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
