
#container{
	margin:20px;
}
.btn{
	border-radius:3px;
	background-color:#fff;
	width:80px;
}

#queue{
	margin-top:5px;
}
.box{
	display:inline-block;
	height:10px;
	width:20px;
	background-color:#ff0000;
	margin-right:5px;
	margin-bottom:5px;
}
