*{
	margin:0px;
	padding:0px;
}

.form{
	width:90%;
	margin:10px auto;
}

.row{
	width:100%;
	height:60px;
	margin:20px auto;
	position:relative;
}

.title{
	width:20%;
	text-align:right;
	float:left;
	padding-right:20px;
	font-size:20px;
	font-weight:bold;
}

.text{
	width:70%;
	height:40px;
	border-radius:5px;
	border:2px solid #ccc;
}


.point{
	font-size:16px;
	position:relative;
	left:23%;
}

.warning{
	color:#acacac;
	display:none;
}

.right{
	color:#59b840;
	display:none;
}

.empty,.wrong{
	color:#db020d;
	display:none;
}

.btn{
	width:100px;
	height:40px;
	background-color:#2f79ba;
	border:1px solid #2f79ba;
	border-radius:5px;
	font-size:18px;
	color:#fff;
	font-weight:bold;
	position:relative;
	left:84%;
}

.hoverOn{
	border:2px solid 62aeec;
}
