*{
	margin:0px;
	padding:0px;
}

.container{
	width:400px;
	height:200px;
	background-color:#ccc;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-100px;
	margin-left:-200px;
}

.box1{
	width:50px;
	height:50px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#ffcc00;	
	border-radius:0px 0px 50px 0px;
}

.box2{
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:#ffcc00;	
	border-radius:50px 0px 0px 0px;
}
