*{
	margin:0px;
	padding:0px;
}

.wrap{
	background-color:#eee;
	margin:20px;
	padding:20px;
	border:1px solid #999;
	position:absolute;
	display:block;
	width:95%;
	overflow:auto;
}

.team-logo{
	width:200px;
	height:80px;
	border:1px solid #999;
	padding:20px;
	float:left;
	margin-right:20px;
}

.team-logo-img img{
	width:80px;
	height:80px;
	border:1px solid #999;
	float:left;
	margin-right:20px;
}

.team-intro{
	display:inline-block;
	border:1px solid #999;
	padding:20px;
	line-height:22px;
	font-size:15px;
	text-indent:2em;
	position:absolute;
	top:20px;
	left:280px;
	right:160px;
}

.for-display-intro{
	width:64%;
	color:#eee;
}

.team-member{
	width:80px;
	height:380px;
	padding:20px;
	border:1px solid #999;
	position:absolute;
	right:20px;
	top:20px;
}

.team-member img{
	width:80px;
	height:80px;
	border:1px solid #999;
	margin-top:20px;
}

.team-member a:first-child img{
	margin-top:0px;
}

.for-display-member{
	display:block;
	width:80px;
	height:60px;
	padding:20px;
}
